.video{
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
}

.video_Player{
    height: 100%;
    width: 100%;
    object-fit: fill; /* encher todo o pai dele, ficando do tamanho total do container */
}